html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

@font-face {
    font-family: 'Open Sans Bold';
    src:  url('fonts/2204.woff2') format('woff2'),
    url('fonts/2204.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans Bold', Verdana, sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1050px;

}


.header__top {
    margin: 0 auto;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-size: 17px;
    line-height: 14px;
    text-decoration: none;
    color: black;
    padding: 35px 0 34px 0;
}

.header__link-border {
    border-left: 1px solid #e7e7e7;
    padding: 35px 0 34px 32px;
}
.header__logo {
    display: block;
    background: transparent url("images/header__logo.png") center no-repeat;
    height: 72px;
    width: 149px;
    margin: 9px 0 6px 0;
}

.header__search {
    display: block;
    background: transparent url("icons/search.png") center no-repeat;
    height: 19px;
    width: 18px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 35px 30px 33px 30px;
}
.header__search:hover, .header__search:active {
    background: transparent url("icons/search__hover.png") center no-repeat;
    height: 19px;
    width: 18px;
}
.header__search:active {
    opacity: 0.3;
}

.header__cart:before {
    content: url("icons/cart.png");
    margin-right: 32px;
}


.header__link:hover, .header__logo:hover {
    opacity: 0.6;
}
.header__link:active, .header__logo:active {
    opacity: 0.3;
}

.header__cart:hover:before {
    content: url("icons/cart__hover.png") ;
    opacity: 1;
}

.top-menu-mobile {
    display: none;
    margin-left: auto;
    padding:  31px 0 33px 0;
}

.top-menu-mobile-hamburger {
    display: block;
    height: 2px;
    width: 20px;
    background: black;
    margin-bottom: 4px;
}
.top-menu-mobile-hamburger:last-child {
    margin-bottom: 0;
}

.header__hero {
    position: relative;
    background: #f1f1f1;
    border-top: 1px solid #e7e7e7;
}

.header__hero-unique-bg {
    background:  #f9f9f9 url("images/hero__bg.png") top center no-repeat;
    width: auto;
    height: 746px;
}

.header__hero-top {
    display: flex;

}
.header__hero-top .header__link:first-child {
    padding: 35px 70px 34px 0;
}
.header__text {
    display: block;
    margin-left: auto;
    font-family: "Open Sans", Verdana, sans-serif;
    color: #444444;
    font-size: 15px;
    padding: 35px 0 34px 0;
}

.header__title {
    margin: 0 auto;
    text-align: center;
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
    max-width: 620px;
}

.header__division-group {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 1050px;

}

.header__division {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-decoration: none;
    height: 89px;
    padding-top: 30px;
}


.header__division:first-child {
    background: #63d1bb;

}
.header__division:last-child {
    background: #56c3b2;

}

.header__division:first-child:hover, .header__division:last-child:hover  {
    transform: scale(1.002,1.05);
    transform-origin: bottom;
    padding-top: 25px;
}
.header__division:first-child:hover {
    background:  #59d5bc;
}
.header__division:last-child:hover{
    background: #46c1ae;
}
.header__division:first-child:active  {
    background: #59d5bc;
}
.header__division:last-child:active {
    background: #46c1ae;
}
.header__division:first-child:active .header__division-title,.header__division:first-child:active .header__division-icon,
.header__division:last-child:active .header__division-title,.header__division:last-child:active .header__division-icon{
    opacity: 0.3;
}


.header__division-title {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 34px;
    width: 113px;
    color: white;
}

.header__division-icon {
    margin:0 35px 0 0;
}

.header__division-icon-lamp {
    background: transparent url("icons/lamp.png") center no-repeat;
    height: 62px;
    width: 41px;
}

.header__division-icon-toy {
    background: transparent url("icons/toy.png") center no-repeat;
    height: 62px;
    width: 60px;
}



.content__slash-zigzag {
    position: absolute;
    bottom: 0;
    background: transparent url("images/zigzag-white.png") top repeat-x;
    height: 16px;
    width: 100%;
}

.good-features {
    padding: 74px 0 75px 0;
}

.good-features-headline {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 71px;
}

.good-features-headline-desc {
    width: 117px;
    margin-right: 59px;
    font-size: 17px;
    line-height: 17px;
    color: #63d1bb;
    text-transform: uppercase;
    text-align: center;

}

.content-title {
    font-size: 53px;
    line-height: 40px;

}

.inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 876px;
}

.good-features__text {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 17px;
    line-height: 30px;
    max-width: 292px;
    color: #444;
    padding-top: 55px;
}

.good-features__paragraph {
    padding-bottom: 52px;
}
.good-features__list {
    font-size: 15px;
    line-height: 12px;
}
.good-features__item {
    border-bottom: 1px solid #ececec;
    padding: 12px 0;
}
.good-features__item:first-child {
    padding-top: 0;
}

.good-features__item-name {
    display: inline-block;
    width: 100px;
}
.good-features__item-desc {
    display: inline-block;
}

.good-features__image-holder {
    margin-top: -111px;
    margin-left: auto;
}

.good-features__button-box {
    margin-top: -106px;
    max-width: 292px;
}

.good-features__button-desc {
    text-align: center;
    font-size: 20px;
    padding-bottom: 34px;
}
.good-features__button {
    width: 262px;
}
.content__button {
    border: 2px solid #444;
    background: none;
    font-family: inherit;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 14px 0;
}
.content__button:hover  {
    background: #444;
    color: white;
}
.content__button:active  {
    background: #444;
    color: #757575;
}
.slash-zigzag {
    margin: 0 auto;
    background: transparent url("images/zigzag-gray.png")center repeat-x;
    height: 23px;
    width: 100%;
    max-width: 1050px;
}

.about {
    padding: 70px 0 89px 0;
}

.about__wrapper {
    display: flex;
    padding-top: 48px;
}
.about__box {
    width: 352px;
}
.about__text {
    display: block;
    font-size: 20px;
    line-height: 22px;
    width: 298px;
    padding-bottom: 60px;
}
.about__text:last-child {
    padding-bottom: 0;
}
.about__icon-flower:before {
    display: block;
    content: url("icons/flower.png");
    height: 55px;

}
.about__icon-style:before {
    display: block;
    content: url("icons/style.png");
    height: 55px;
}
.about__icon-heart:before {
    display: block;
    content: url("icons/heart.png");
    height: 55px;
}
.about__icon-threads:before {
    display: block;
    content: url("icons/threads.png");
    height: 55px;
}
.about__icon-rocket:before {
    display: block;
    content: url("icons/rocket.png");
    height: 55px;
}
.about__icon-present:before {
    display: block;
    content: url("icons/present.png");
    height: 55px;
}
.reviews {
    margin: 0 auto;
    background:  transparent url("images/napkin.png") left top no-repeat;
    height: 457px;
    width: 1050px;
    padding-bottom: 62px;
}
.reviews__top {
    display: flex;
    justify-content: space-between;
    padding: 79px 0 53px 0;
    width: 100%;
}
.reviews__button {
    width: 171px;
}
.reviews__slider {
    width: 100%;
}
.reviews__slider-text {
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: #444;
    max-width: 770px;
}

.reviews__slider-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
.reviews__slider-paragraph {
    font-size: 17px;
    line-height: 30px;
}
.reviews__slider-desc {
    font-family: "Open Sans", Verdana, sans-serif;
    text-decoration: none;
    color: #444;
}
.reviews__slider-desc:hover {
    color: #46c1ae;
}
.reviews__slider-desc:active {
    color: #46c1ae;
    opacity: 0.3;
}

.reviews__slider-buttons-holder {
    display: flex;
    justify-content: space-between;
    width: 138px;
}

.reviews__slider-prev {
    background: transparent url("icons/arrow__prev.png") center no-repeat;
    height: 50px;
    width: 50px;
}
.reviews__slider-next {
    background: transparent url("icons/arrow__next.png") center no-repeat;
    height: 50px;
    width: 50px;
}
.reviews__slider-prev:hover, .reviews__slider-next:hover {
    opacity: 0.6;
}
.reviews__slider-prev:active, .reviews__slider-next:active {
    opacity: 0.3;
}
.reviews__button-mobile {
    display: none;
}
/*=============================================== MEDIA QUERIES==========================================================*/

@media (min-width: 768px) and (max-width : 992px) {
    .wrapper{
        max-width: 668px;
    }
    .header__top {
        justify-content: flex-end;
        max-width: 668px;
    }
    .header__link-mobile{
        display: none;
    }
    .header__logo {
        margin-right: auto;
    }
    .header__cart {
        padding-left: 30px;
    }
    .header__hero-top .header__link:first-child {
        padding: 35px 34px 34px 0;
    }
    .header__hero-unique-bg {
        background:  #f9f9f9  url("images/hero__bg-tablet.png")  center top no-repeat;
        width: 100%;
        height: 746px;
    }
    .header__division-group {
        width: 100%;
        max-width: 668px;

    }
    .good-features {
        padding: 56px 0 52px 0;
    }
    .good-features-headline {
        width: 100%;
        justify-content: space-between;
        margin-top: 0;
    }

    .good-features-headline-desc {
        order: 2;
        margin-right: 0;
    }
    .content-title {
       font-size: 43px;

     }
    .good-features__image-holder {
        margin-top: 0;
        padding-top: 55px;
    }
    .good-features__image {
        height: auto;
        width: 333px;
    }
    .slash-zigzag {
        margin: 0 auto;
        background: transparent url("images/zigzag-gray_tab.png")center repeat-x;
        height: 17px;
        width: 100%;
        max-width: 100%;
    }
    .about {
        padding: 55px 0 81px 0;
    }
    .about__box {
        width: 333px;
    }
    .reviews {
        width: 100%;
    }
}


@media  (max-width : 767px) {
    .wrapper {
        width: 100%;
    }
    .header__top {
        max-width: 100%;
        padding: 0 30px;
    }
    .top-menu-mobile {
        display: block;
        flex-grow: 0;
    }
    .header__link-mobile{
        display: none;
    }
    .header__logo {
        display: block;
        background: transparent url("images/header__logo-mobile.png") center no-repeat;
        height: 35px;
        width: 86px;
        margin: 19px 0 21px 0;
        flex-grow: 20;
    }

    .header__search, .header__cart {
        display: none;
    }

    .header__title {
        font-size: 27px;
        line-height: 30px;
        padding-top: 76px;
        max-width: 260px;
    }
    .header__hero-top {
        display: none;
    }
    .header__hero-unique-bg {
        background:  #f9f9f9  url("images/hero__bg-mobile.png")  center top no-repeat;
        width: 100%;
        height: 490px;
    }
    .header__division-group {
        flex-direction: column;
        width: 100%;
        max-width:100%;

    }
    .header__division {
        width: 100%;
        height: 73px;
        padding-top: 23px;
    }
    .header__division-title {
        font-size: 19px;
        line-height: 24px;

    }
    .content__slash-zigzag {
        display: none;
    }
    .good-features {
        padding: 33px 0 35px 0;
    }
    .good-features-headline {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 30px 0;
    }

    .good-features-headline-desc {
        order: 2;
        margin-right: 0;
        width: auto;
        text-align: left;
        padding: 0 30px;
    }
    .content-title {
        font-size: 25px;
        padding: 0 30px;
    }
   .inner {
       flex-direction: column;
       flex-wrap: nowrap;
       max-width: 100%;
   }

   .good-features__text {
       max-width: 100%;
       padding: 0 30px;
   }
    .good-features__paragraph {
        padding-bottom: 33px;
    }
    .good-features__list {
        padding-bottom: 27px;
    }
    .good-features__image-holder {
        margin: 0 auto;
        padding: 0 30px;
    }
    .good-features__image {
        height: auto;
        width: 100%;
    }
    .good-features__button-box {
        margin-top: 29px;
        max-width: 100%;
        padding: 0 30px;
    }
    .good-features__button-desc {
        padding-bottom: 27px;
    }
    .good-features__button {
        width: 100%;
    }
    .slash-zigzag {
        margin: 0 auto;
        background: transparent url("images/zigzag-gray_mob.png")center repeat-x;
        height: 7px;
        width: 100%;
        max-width: 100%;
    }
    .about {
        padding: 34px 0 61px 0;
    }
    .about__wrapper {
        flex-direction: column;
        padding: 0 30px;
    }
    .about__box {
        width: 100%;
        padding-top: 30px;
    }
    .about__text {
        width: 90%;

    }
    .reviews {
        background: none;
        width: 100%;
        height: auto;
        padding-bottom: 44px;

    }
    .reviews__top {
        padding: 0 0 39px 0;
    }
    .reviews__button {
        display: none;
    }
    .reviews__slider-text {
        max-width: 100%;
        padding: 0 30px 40px 30px;
    }
    .reviews__slider-inner {
        flex-direction: column;
        padding: 0 30px;
    }
    .reviews__slider-paragraph {
        padding-bottom: 37px;
    }
    .reviews__button-mobile {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 36px;
    }
    .reviews__slider-buttons-holder {
        justify-content: flex-start;
        width: 100%;

    }
    .reviews__slider-prev, .reviews__slider-next {
        align-self: stretch;
        border:  1px solid #ececec;
        width: inherit;
    }


}